{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "target": "es2022",
    "baseUrl": ".",
    "paths": {
      // realms
      "~collages/*": ["./src/realms/collages/*"],
      "~auth/*": ["./src/realms/auth/*"],
      // common
      "@utils/*": ["./src/utils/*"],
      "@services/*": ["./src/services/*"],
      "@types/*": ["./src/types/*"],
      "~/*": ["./src/*"],
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}
